<mz-modal [fullscreen]="true" [fixedFooter]="true">
  <mz-modal-header>
    <span i18n>Map Settings</span>
  </mz-modal-header>

  <mz-modal-content>

    <div class="row">
      <mz-input-container class="col s12 m6">
        <input mz-input [label]="'Map Name'" id="filemap-title" [(ngModel)]="title" type="text">
      </mz-input-container>
    </div> <!-- .row -->

    <div class="row">
      <mz-input-container class="col s12 m6">
        <input mz-input [label]="'Description'" id="filemap-description" [(ngModel)]="description" type="text">
      </mz-input-container>
    </div> <!-- .row -->

    <div class="row">
      <mz-textarea-container class="col s12 m6">
        <textarea mz-textarea
         [label]="'Files To Ignore In Scan'"
         id="filemap-exclude-list"
         class="exclude-list"
         [(ngModel)]="exclude"
         placeholder="File pattern, one per line"></textarea>
      </mz-textarea-container>
    </div>

  </mz-modal-content>

  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="save()" mz-modal-close i18n>Save</button>
    <button mz-button [flat]="true" mz-modal-close i18n>Cancel</button>
  </mz-modal-footer>
</mz-modal>
