<div class="fixed-action-btn horizontal click-to-toggle" *ngIf="enabled">
  <a class="btn-floating btn-large" i18n-title title="Toolbar">
    <i class="large material-icons">more_horiz</i>
  </a>
  <ul>
    <li>
      <a href class="btn-floating disabled" i18n-title title="Remove Selected" (click)="$event.preventDefault(); removeSelected()">
        <i class="material-icons">remove</i></a>
    </li>
    <li>
      <a href class="btn-floating" i18n-title title="Select" (click)="$event.preventDefault(); launchSelect()">
        <i class="material-icons">select_all</i>
      </a>
    </li>
    <li>
      <a href class="btn-floating" i18n-title title="Add Files" (click)="$event.preventDefault(); launchAdd()">
        <i class="material-icons">add</i></a>
    </li>
  </ul>
</div>
