<mz-modal [fullscreen]="true" [fixedFooter]="true">
  <mz-modal-header>
    <span i18n>New Map</span>
  </mz-modal-header>

  <mz-modal-content>
    <div class="row">

      <mz-input-container class="col s12 m6">
        <input mz-input [label]="'Map Name'" id="mapName" [(ngModel)]="title" type="text">
      </mz-input-container>

    </div>

    <h5 class="light" i18n>Base Directory</h5>

    <app-file-browser (dirChange)="onDirChange($event)" [onlyDirs]="true"></app-file-browser>

  </mz-modal-content>

  <mz-modal-footer>
    <button mz-button [flat]="true" (click)="create()" mz-modal-close i18n>Create</button>
    <button mz-button [flat]="true" mz-modal-close i18n>Cancel</button>
  </mz-modal-footer>
</mz-modal>
