<mz-sidenav [id]="'nav-mobile'" [collapseButtonId]="'side-nav-button'">
  <mz-sidenav-header>
    <div class="user-view">
      <h4>File Maps</h4>
    </div>
  </mz-sidenav-header>

  <mz-sidenav-link>
    <a href (click)="$event.preventDefault();">
      <span i18n>Map Settings</span>
    </a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a href (click)="$event.preventDefault(); openNewMapModal()">
      <span i18n>New Map</span>
    </a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a href (click)="$event.preventDefault(); openMapsModal()">
      <span i18n>Open Map</span>
    </a>
  </mz-sidenav-link>

  <mz-sidenav-divider></mz-sidenav-divider>

  <mz-sidenav-link>
    <a href (click)="$event.preventDefault();">
      <span i18n>General Settings</span>
    </a>
  </mz-sidenav-link>

  <mz-sidenav-link>
    <a href (click)="$event.preventDefault(); openAboutModal()">
      <span i18n>About</span>
    </a>
  </mz-sidenav-link>

</mz-sidenav>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <!-- map settings -->
      <a href class="brand-logo center" modal (click)="$event.preventDefault();">
        File Maps
      </a>

      <a href class="button-collapse" id="side-nav-button" (click)="$event.preventDefault();">
        <i class="material-icons">menu</i></a>

      <!-- navbar links -->
      <ul id="nav-large" class="right hide-on-med-and-down">
        <li>
          <a href i18n-title title="New" (click)="$event.preventDefault(); openNewMapModal()">
            <i class="material-icons">create_new_folder</i></a>
        </li>

        <li>
          <a href i18n-title title="Open" (click)="$event.preventDefault(); openMapsModal()">
            <i class="material-icons">folder_open</i></a>
        </li>

        <li>
          <a href i18n-title title="Settings" (click)="$event.preventDefault();">
            <i class="material-icons">settings</i></a>
        </li>

        <li>
          <a href i18n-title title="About" (click)="$event.preventDefault(); openAboutModal()">
            <i class="material-icons">info_outline</i></a>
        </li>
      </ul>
    </div> <!-- .nav-wrapper -->
  </nav>
</div> <!-- .navbar-fixed -->

<app-viewer></app-viewer>
