<ul id="nav-mobile" class="side-nav">
  <li>
    <a class="subheader">File Maps</a>
  </li>
  <li>
    <a href="#">Map Settings</a>
  </li>
</ul>

<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper">
      <!-- map settings -->
      <a href="#" class="brand-logo center" modal>
        File Maps
      </a>

      <a href="#" class="button-collapse" data-sidenav="left" data-menuwidth="250" id="side-nav-button">
        <i class="material-icons">menu</i></a>

      <!-- navbar links -->
      <ul id="nav-large" class="right hide-on-med-and-down">
        <li>
          <a href="#" i18n-title title="New">
            <i class="material-icons">create_new_folder</i></a>
        </li>

        <li>
          <a href="#" i18n-title title="Open">
            <i class="material-icons" (click)="openMapsModal()">folder_open</i></a>
        </li>

        <li>
          <a href="#" i18n-title title="Settings">
            <i class="material-icons">settings</i></a>
        </li>

        <li>
          <a href="#" i18n-title title="About">
            <i class="material-icons" (click)="openAboutModal()">info_outline</i></a>
        </li>
      </ul>
    </div> <!-- .nav-wrapper -->
  </nav>
</div> <!-- .navbar-fixed -->

<app-viewer></app-viewer>
